h2{
    padding-top: 10%;
    padding-bottom: 10%;
}

#sidebar{
    height: 100vh;
    padding: 20px;
    background-color:lavenderblush;
}

#search{
    width: 100%;
    font-size: 15px;
}

#body{
    padding: 15px;
}